.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-sidenav {
  width: 200px;
  background-color: #3f4d66;
}

.menu{
  background-color: #3f4d66;
  color: #fff;
}

.mat-toolbar.mat-primary {
  background: #24b7e5;
}

.mat-list-item{
  color: #fff;
}

.mat-raised-button{
  font-size: 18px;
}
