<mat-sidenav-container id="container">
  <mat-sidenav [(opened)]="opened" mode="side" [fixedInViewport]="true">
    <mat-toolbar class="menu">
      <h1>MENU</h1>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Liste des devoirs</a>
      <a mat-list-item routerLink="/matieres" routerLinkActive="active">Liste des matières</a>
      <a mat-list-item routerLink="/utilisateurs" routerLinkActive="active">Liste des élèves</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/add" routerLinkActive="active">Ajouter un devoir</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="/add-matiere" routerLinkActive="active">Ajouter une matière</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span class="toolbar-spacer">{{nomUtilisateur}}</span>
      <button mat-raised-button color="primary" *ngIf="!isLoggedIn" (click)="connexion()">Se connecter</button>
      <button mat-raised-button color="primary" *ngIf="!isLoggedIn" (click)="inscription()">S'inscrire</button>
      <button mat-raised-button color="primary" *ngIf="isLoggedIn" (click)="logout()">Déconnexion</button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
