<div class="container" *ngIf="assignmentTransmis">
  <h1>{{assignmentTransmis.nom}}</h1>
  <h2>Date de rendu : {{assignmentTransmis.dateDeRendu|date: 'dd/MM/yyyy'}}</h2>
  <h2>Auteur : {{assignmentTransmis.auteur}}</h2>
  <h2>Matière : {{assignmentTransmis.matiere.nom}}</h2>
  <h2>Professeur : {{assignmentTransmis.matiere.professeur}}</h2>
  <img [src]="assignmentTransmis.matiere.image" style="width: 200px; height: 200px;  object-fit: contain;">
  <h2>Rendu : {{assignmentTransmis.rendu ? 'Oui' : 'Non'}}</h2>
  <h2 *ngIf="assignmentTransmis.note">Note : {{assignmentTransmis.note}}</h2>
  <h2 *ngIf="assignmentTransmis.remarque">Remarque : {{assignmentTransmis.remarque}}</h2>
</div>
